{% extends 'base.html' %}

{% block title %}Visit Our Showroom in EDSA{% endblock %}

{% block meta %}
  <meta name="description" content="Visit Bright Year Plywood at 1241 EDSA, Balintawak. Open Mon-Fri for inspection and pickup of premium plywood and veneer products.">
{% endblock %}

{% block content %}
<div class="section animate-up">
    <h1>Our Location</h1>
    <div class="location-wrapper">
        <div class="footer-column"">
            <h3 style="color: var(--brand);">Bright Year Plywood and Veneer</h3>
            <p style="margin: 1rem 0; color: var(--brand);">1241 EDSA, Balintawak, Quezon City, Metro Manila</p>
            <p style="color: var(--brand);"><strong>Hours:</strong> Mon - Fri, 8:30 AM - 4:30 PM</p>
            <br>
            <a href="https://www.messenger.com/t/veneerphilippines" class="btn">Talk to Us!</a>
        </div>
        
        <section class="iframe-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.24867778687153!2d121.01281339193348!3d14.657142052763456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b6f284e1438d%3A0xc036c6edfca4ef5!2sBright%20Year%20Plywood%20and%20Veneer!5e0!3m2!1sen!2sph!4v1773477834478!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>
{% endblock %}